@define-color window_bg_color #2e3440;
@define-color headerbar_bg_color #3b4252;
@define-color sidebar_bg_color #3b4252;
@define-color accent_color #5e81ac;
@define-color accent_bg_color #5e81ac;
@define-color text_color #eceff4;
@define-color borders_color #434c5e;
@define-color default_bg #021d2cd2; /* libadwaita surfaces */
@define-color surface_bg_color #3b4252;
@define-color secondary_bg_color #3b4252;
@define-color card_bg_color #3b4252; /* Nautilus sidebar specifically */

.navigation-sidebar,
.nautilus-window .view,
.nautilus-window .sidebar-pane,
.nautilus-window .sidebar,
.nautilus-window .top-bar {
  background-color: @default_bg;
} /* Tooltip styling */

.tooltip {
  color: @text_color;
  background-color: @default_bg;
  border: 1px solid rgba(0, 20, 32, 0.75);
  border-radius: 8px;
  padding: 6px 10px;
} /* Dropdown menus */

menu,
popover > contents {
  background-color: @default_bg;
  color: @text_color;
} /* Submenus */

.menu submenu .menu,
.popover submenu .popover {
  color: @text_color;
} /* Context menus */

.context-menu {
  color: @text_color;
}

headerbar,
.titlebar,
window.csd headerbar {
  background-color: @default_bg; /* your default_bg */
  color: @text_color;

  border: none;
  box-shadow: none;
}
